<h2> Edit this product:</h2>

<h3>
  {{ input value=name }}
  <small class='muted'>(price: {{ input type="number" value=price }}, in cents)</small>
</h3>

<div class='row'>
  <div class='col-lg-6'>
    <img {{ bind-attr src=image }} class='thumbnail col-lg-10' />
    <br>
      Image url: {{ textarea value=image rows=1 cols=50}}
    <br>
      Avatar url: {{ textarea value=avatar rows=1 cols=50 }}
  </div>
  <div class='col-lg-4'>
    <table>
    <tbody>
    <tr>
      <td colspan="2">
        {{ textarea value=description rows=10 cols=80 }}
      </td>
    </tr>
    <tr><td colspan="2"><hr></td></tr>
    <tr>
      <td></td>
      <td>
        <button {{ action "saveProduct" this }} class="btn btn-primary">Save!</button>
      </td>
    </tr>
    </tbody>
    </table>
  </div>
</div>

